{% block title %}Test E-mail{% endblock title %}
{% block content %}
  <form method="post" action="/email/send/">{% csrf_token %}
    <div class="email">
      <label class="label">Email <span class="required">*</span></label>
      <br>
      <input name="email" class="inputtext" type="text" maxlength="255" size="35" /> 
    </div>
    <div class="subject">
      <label class="label">Subject  <span class="required">*</span></label>
      <br>
      <input name="subject" class="inputtext" type="text" maxlength="255" size="45" />
    </div>
    <div class="message">
      <label class="label">Message  <span class="required">*</span></label>
      <br>
      <textarea name="message" class="inputtextarea" rows="11" cols="45"></textarea>
    </div>
    <div class="button">
      <input class="submitform" type="submit" name="submitform" value="Send Message" />
    </div>
  </form>	
{% endblock content %}